{
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-import",
    "eslint-plugin-import-helpers",
    "eslint-plugin-jest",
    "eslint-plugin-jsdoc",
    "eslint-plugin-node",
    "eslint-plugin-promise",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks",
    "eslint-plugin-security",
    "eslint-plugin-sonarjs",
    "eslint-plugin-sort-class-members",
    "eslint-plugin-unicorn"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
  "better-regex": "off",
  "catch-error-name": "off",
  "consistent-destructuring": "off",
  "consistent-function-scoping": "off",
  "custom-error-definition": "off",
  "empty-brace-spaces": "off",
  "error-message": "off",
  "escape-case": "off",
  "expiring-todo-comments": "off",
  "explicit-length-check": "off",
  "filename-case": "off",
  "import-index": "off",
  "import-style": "off",
  "new-for-builtins": "off",
  "no-abusive-eslint-disable": "off",
  "no-array-callback-reference": "off",
  "no-array-for-each": "off",
  "no-array-method-this-argument": "off",
  "no-array-push-push": "off",
  "no-array-reduce": "off",
  "no-await-expression-member": "off",
  "no-console-spaces": "off",
  "no-document-cookie": "off",
  "no-empty-file": "off",
  "no-for-loop": "off",
  "no-hex-escape": "off",
  "no-instanceof-array": "off",
  "no-invalid-remove-event-listener": "off",
  "no-keyword-prefix": "off",
  "no-nested-ternary": "off",
  "no-new-array": "off",
  "no-new-buffer": "off",
  "no-null": "off",
  "no-object-as-default-parameter": "off",
  "no-static-only-class": "off",
  "no-thenable": "off",
  "no-this-assignment": "off",
  "no-unreadable-array-destructuring": "off",
  "no-unsafe-regex": "off",
  "no-unused-properties": "off",
  "no-useless-fallback-in-spread": "off",
  "no-useless-length-check": "off",
  "no-useless-promise-resolve-reject": "off",
  "no-useless-spread": "off",
  "no-useless-undefined": "off",
  "no-zero-fractions": "off",
  "number-literal-case": "off",
  "numeric-separators-style": "off",
  "prefer-add-event-listener": "off",
  "prefer-array-find": "off",
  "prefer-array-flat-map": "off",
  "prefer-array-flat": "off",
  "prefer-array-index-of": "off",
  "prefer-array-some": "off",
  "prefer-at": "off",
  "prefer-code-point": "off",
  "prefer-date-now": "off",
  "prefer-default-parameters": "off",
  "prefer-dom-node-append": "off",
  "prefer-dom-node-dataset": "off",
  "prefer-dom-node-remove": "off",
  "prefer-dom-node-text-content": "off",
  "prefer-export-from": "off",
  "prefer-includes": "off",
  "prefer-json-parse-buffer": "off",
  "prefer-keyboard-event-key": "off",
  "prefer-math-trunc": "off",
  "prefer-modern-dom-apis": "off",
  "prefer-module": "off",
  "prefer-negative-index": "off",
  "prefer-node-protocol": "off",
  "prefer-number-properties": "off",
  "prefer-object-from-entries": "off",
  "prefer-optional-catch-binding": "off",
  "prefer-prototype-methods": "off",
  "prefer-query-selector": "off",
  "prefer-reflect-apply": "off",
  "prefer-regexp-test": "off",
  "prefer-set-has": "off",
  "prefer-spread": "off",
  "prefer-string-replace-all": "off",
  "prefer-string-slice": "off",
  "prefer-string-starts-ends-with": "off",
  "prefer-string-trim-start-end": "off",
  "prefer-switch": "off",
  "prefer-ternary": "off",
  "prefer-top-level-await": "off",
  "prefer-type-error": "off",
  "prevent-abbreviations": "off",
  "relative-url-style": "off",
  "require-array-join-separator": "off",
  "require-number-to-fixed-digits-argument": "off",
  "require-post-message-target-origin": "off",
  "string-content": "off",
  "template-indent": "off",
  "text-encoding-identifier-case": "off",
  "throw-new-error": "off",
  "no-array-instanceof": "off",
  "no-fn-reference-in-iterator": "off",
  "no-reduce": "off",
  "prefer-dataset": "off",
  "prefer-event-key": "off",
  "prefer-exponentiation-operator": "off",
  "prefer-flat-map": "off",
  "prefer-node-append": "off",
  "prefer-node-remove": "off",
  "prefer-object-has-own": "off",
  "prefer-replace-all": "off",
  "prefer-starts-ends-with": "off",
  "prefer-text-content": "off",
  "prefer-trim-start-end": "off",
  "regex-shorthand": "off",
    "sort-class-members": "off",
    "cognitive-complexity": "off",
  "elseif-without-else": "off",
  "max-switch-cases": "off",
  "no-all-duplicated-branches": "off",
  "no-collapsible-if": "off",
  "no-collection-size-mischeck": "off",
  "no-duplicate-string": "off",
  "no-duplicated-branches": "off",
  "no-element-overwrite": "off",
  "no-empty-collection": "off",
  "no-extra-arguments": "off",
  "no-gratuitous-expressions": "off",
  "no-identical-conditions": "off",
  "no-identical-expressions": "off",
  "no-identical-functions": "off",
  "no-ignored-return": "off",
  "no-inverted-boolean-check": "off",
  "no-nested-switch": "off",
  "no-nested-template-literals": "off",
  "no-one-iteration-loop": "off",
  "no-redundant-boolean": "off",
  "no-redundant-jump": "off",
  "no-same-line-conditional": "off",
  "no-small-switch": "off",
  "no-unused-collection": "off",
  "no-use-of-empty-return-value": "off",
  "no-useless-catch": "off",
  "non-existent-operator": "off",
  "prefer-immediate-return": "off",
  "prefer-object-literal": "off",
  "prefer-single-boolean-return": "off",
  "prefer-while": "off",
  "detect-unsafe-regex": "off",
  "detect-non-literal-regexp": "off",
  "detect-non-literal-require": "off",
  "detect-non-literal-fs-filename": "off",
  "detect-eval-with-expression": "off",
  "detect-pseudoRandomBytes": "off",
  "detect-possible-timing-attacks": "off",
  "detect-no-csrf-before-method-override": "off",
  "detect-buffer-noassert": "off",
  "detect-child-process": "off",
  "detect-disable-mustache-escape": "off",
  "detect-object-injection": "off",
  "detect-new-buffer": "off",
  "adjacent-overload-signatures": "off",
  "array-type": "off",
  "await-thenable": "off",
  "ban-ts-comment": "off",
  "ban-tslint-comment": "off",
  "ban-types": "off",
  "class-literal-property-style": "off",
  "consistent-indexed-object-style": "off",
  "consistent-type-assertions": "off",
  "consistent-type-definitions": "off",
  "consistent-type-exports": "off",
  "consistent-type-imports": "off",
  "default-param-last": "off",
  "explicit-function-return-type": "off",
  "explicit-member-accessibility": "off",
  "explicit-module-boundary-types": "off",
  "indent": "off",
  "init-declarations": "off",
  "keyword-spacing": "off",
  "member-delimiter-style": "off",
  "member-ordering": "off",
  "method-signature-style": "off",
  "naming-convention": "off",
  "no-base-to-string": "off",
  "no-confusing-non-null-assertion": "off",
  "no-confusing-void-expression": "off",
  "no-duplicate-imports": "off",
  "no-dynamic-delete": "off",
  "no-empty-function": "off",
  "no-empty-interface": "off",
  "no-explicit-any": "off",
  "no-extra-non-null-assertion": "off",
  "no-extra-parens": "off",
  "no-extraneous-class": "off",
  "no-floating-promises": "off",
  "no-for-in-array": "off",
  "no-implicit-any-catch": "off",
  "no-implied-eval": "off",
  "no-inferrable-types": "off",
  "no-invalid-this": "off",
  "no-invalid-void-type": "off",
  "no-loop-func": "off",
  "no-loss-of-precision": "off",
  "no-magic-numbers": "off",
  "no-meaningless-void-operator": "off",
  "no-misused-new": "off",
  "no-misused-promises": "off",
  "no-non-null-asserted-nullish-coalescing": "off",
  "no-non-null-asserted-optional-chain": "off",
  "no-non-null-assertion": "off",
  "no-parameter-properties": "off",
  "no-redeclare": "off",
  "no-redundant-type-constituents": "off",
  "no-require-imports": "off",
  "no-restricted-imports": "off",
  "no-shadow": "off",
  "no-this-alias": "off",
  "no-throw-literal": "off",
  "no-type-alias": "off",
  "no-unnecessary-boolean-literal-compare": "off",
  "no-unnecessary-condition": "off",
  "no-unnecessary-qualifier": "off",
  "no-unnecessary-type-arguments": "off",
  "no-unnecessary-type-assertion": "off",
  "no-unnecessary-type-constraint": "off",
  "no-unsafe-argument": "off",
  "no-unsafe-assignment": "off",
  "no-unsafe-call": "off",
  "no-unsafe-member-access": "off",
  "no-unsafe-return": "off",
  "no-unused-expressions": "off",
  "no-unused-vars": "off",
  "no-use-before-define": "off",
  "no-useless-constructor": "off",
  "no-useless-empty-export": "off",
  "no-var-requires": "off",
  "non-nullable-type-assertion-style": "off",
  "prefer-as-const": "off",
  "prefer-enum-initializers": "off",
  "prefer-for-of": "off",
  "prefer-function-type": "off",
  "prefer-literal-enum-member": "off",
  "prefer-namespace-keyword": "off",
  "prefer-nullish-coalescing": "off",
  "prefer-optional-chain": "off",
  "prefer-readonly": "off",
  "prefer-readonly-parameter-types": "off",
  "prefer-reduce-type-parameter": "off",
  "prefer-regexp-exec": "off",
  "prefer-return-this-type": "off",
  "prefer-ts-expect-error": "off",
  "promise-function-async": "off",
  "quotes": "off",
  "require-array-sort-compare": "off",
  "require-await": "off",
  "restrict-plus-operands": "off",
  "restrict-template-expressions": "off",
  "return-await": "off",
  "sort-type-union-intersection-members": "off",
  "space-before-blocks": "off",
  "space-before-function-paren": "off",
  "strict-boolean-expressions": "off",
  "switch-exhaustiveness-check": "off",
  "triple-slash-reference": "off",
  "type-annotation-spacing": "off",
  "typedef": "off",
  "unified-signatures": "off",
  "no-unresolved": "off",
  "named": "off",
  "default": "off",
  "namespace": "off",
  "export": "off",
  "no-mutable-exports": "off",
  "extensions": "off",
  "no-restricted-paths": "off",
  "no-internal-modules": "off",
  "group-exports": "off",
  "no-relative-packages": "off",
  "no-relative-parent-imports": "off",
  "no-self-import": "off",
  "no-cycle": "off",
  "no-named-default": "off",
  "no-named-as-default": "off",
  "no-named-as-default-member": "off",
  "no-anonymous-default-export": "off",
  "no-unused-modules": "off",
  "no-commonjs": "off",
  "no-amd": "off",
  "no-duplicates": "off",
  "first": "off",
  "max-dependencies": "off",
  "no-extraneous-dependencies": "off",
  "no-absolute-path": "off",
  "no-nodejs-modules": "off",
  "no-webpack-loader-syntax": "off",
  "order": "off",
  "newline-after-import": "off",
  "prefer-default-export": "off",
  "no-default-export": "off",
  "no-named-export": "off",
  "no-dynamic-require": "off",
  "unambiguous": "off",
  "no-unassigned-import": "off",
  "no-useless-path-segments": "off",
  "dynamic-import-chunkname": "off",
  "no-import-module-exports": "off",
  "exports-last": "off",
  "imports-first": "off",
  "consistent-test-it": "off",
  "expect-expect": "off",
  "max-nested-describe": "off",
  "no-alias-methods": "off",
  "no-commented-out-tests": "off",
  "no-conditional-expect": "off",
  "no-conditional-in-test": "off",
  "no-deprecated-functions": "off",
  "no-disabled-tests": "off",
  "no-done-callback": "off",
  "no-duplicate-hooks": "off",
  "no-export": "off",
  "no-focused-tests": "off",
  "no-hooks": "off",
  "no-identical-title": "off",
  "no-if": "off",
  "no-interpolation-in-snapshots": "off",
  "no-jasmine-globals": "off",
  "no-jest-import": "off",
  "no-large-snapshots": "off",
  "no-mocks-import": "off",
  "no-restricted-matchers": "off",
  "no-standalone-expect": "off",
  "no-test-prefixes": "off",
  "no-test-return-statement": "off",
  "prefer-called-with": "off",
  "prefer-comparison-matcher": "off",
  "prefer-equality-matcher": "off",
  "prefer-expect-assertions": "off",
  "prefer-expect-resolves": "off",
  "prefer-hooks-on-top": "off",
  "prefer-lowercase-title": "off",
  "prefer-snapshot-hint": "off",
  "prefer-spy-on": "off",
  "prefer-strict-equal": "off",
  "prefer-to-be": "off",
  "prefer-to-contain": "off",
  "prefer-to-have-length": "off",
  "prefer-todo": "off",
  "require-hook": "off",
  "require-to-throw-message": "off",
  "require-top-level-describe": "off",
  "unbound-method": "off",
  "valid-describe-callback": "off",
  "valid-expect-in-promise": "off",
  "valid-expect": "off",
  "valid-title": "off",
  "check-access": "off",
  "check-alignment": "off",
  "check-examples": "off",
  "check-indentation": "off",
  "check-line-alignment": "off",
  "check-param-names": "off",
  "check-property-names": "off",
  "check-syntax": "off",
  "check-tag-names": "off",
  "check-types": "off",
  "check-values": "off",
  "empty-tags": "off",
  "implements-on-classes": "off",
  "match-description": "off",
  "match-name": "off",
  "multiline-blocks": "off",
  "newline-after-description": "off",
  "no-bad-blocks": "off",
  "no-defaults": "off",
  "no-missing-syntax": "off",
  "no-multi-asterisks": "off",
  "no-restricted-syntax": "off",
  "no-types": "off",
  "no-undefined-types": "off",
  "require-asterisk-prefix": "off",
  "require-description": "off",
  "require-description-complete-sentence": "off",
  "require-example": "off",
  "require-file-overview": "off",
  "require-hyphen-before-param-description": "off",
  "require-jsdoc": "off",
  "require-param": "off",
  "require-param-description": "off",
  "require-param-name": "off",
  "require-param-type": "off",
  "require-property": "off",
  "require-property-description": "off",
  "require-property-name": "off",
  "require-property-type": "off",
  "require-returns": "off",
  "require-returns-check": "off",
  "require-returns-description": "off",
  "require-returns-type": "off",
  "require-throws": "off",
  "require-yields": "off",
  "require-yields-check": "off",
  "sort-tags": "off",
  "tag-lines": "off",
  "valid-types": "off",
  "callback-return": "off",
  "exports-style": "off",
  "file-extension-in-import": "off",
  "global-require": "off",
  "handle-callback-err": "off",
  "no-callback-literal": "off",
  "no-deprecated-api": "off",
  "no-exports-assign": "off",
  "no-extraneous-import": "off",
  "no-extraneous-require": "off",
  "no-missing-import": "off",
  "no-missing-require": "off",
  "no-mixed-requires": "off",
  "no-new-require": "off",
  "no-path-concat": "off",
  "no-process-env": "off",
  "no-process-exit": "off",
  "no-restricted-import": "off",
  "no-restricted-require": "off",
  "no-sync": "off",
  "no-unpublished-bin": "off",
  "no-unpublished-import": "off",
  "no-unpublished-require": "off",
  "no-unsupported-features/es-builtins": "off",
  "no-unsupported-features/es-syntax": "off",
  "no-unsupported-features/node-builtins": "off",
  "prefer-global/buffer": "off",
  "prefer-global/console": "off",
  "prefer-global/process": "off",
  "prefer-global/text-decoder": "off",
  "prefer-global/text-encoder": "off",
  "prefer-global/url-search-params": "off",
  "prefer-global/url": "off",
  "prefer-promises/dns": "off",
  "prefer-promises/fs": "off",
  "process-exit-as-throw": "off",
  "shebang": "off",
  "no-hide-core-modules": "off",
  "no-unsupported-features": "off",
  "param-names": "off",
  "no-return-wrap": "off",
  "always-return": "off",
  "catch-or-return": "off",
  "prefer-await-to-callbacks": "off",
  "prefer-await-to-then": "off",
  "no-native": "off",
  "no-callback-in-promise": "off",
  "no-promise-in-callback": "off",
  "no-nesting": "off",
  "avoid-new": "off",
  "no-new-statics": "off",
  "no-return-in-finally": "off",
  "valid-params": "off",
  "boolean-prop-naming": "off",
  "button-has-type": "off",
  "default-props-match-prop-types": "off",
  "destructuring-assignment": "off",
  "display-name": "off",
  "forbid-component-props": "off",
  "forbid-dom-props": "off",
  "forbid-elements": "off",
  "forbid-foreign-prop-types": "off",
  "forbid-prop-types": "off",
  "function-component-definition": "off",
  "hook-use-state": "off",
  "iframe-missing-sandbox": "off",
  "jsx-boolean-value": "off",
  "jsx-child-element-spacing": "off",
  "jsx-closing-bracket-location": "off",
  "jsx-closing-tag-location": "off",
  "jsx-curly-spacing": "off",
  "jsx-curly-newline": "off",
  "jsx-equals-spacing": "off",
  "jsx-filename-extension": "off",
  "jsx-first-prop-new-line": "off",
  "jsx-handler-names": "off",
  "jsx-indent": "off",
  "jsx-indent-props": "off",
  "jsx-key": "off",
  "jsx-max-depth": "off",
  "jsx-max-props-per-line": "off",
  "jsx-newline": "off",
  "jsx-no-bind": "off",
  "jsx-no-comment-textnodes": "off",
  "jsx-no-constructed-context-values": "off",
  "jsx-no-duplicate-props": "off",
  "jsx-no-literals": "off",
  "jsx-no-script-url": "off",
  "jsx-no-target-blank": "off",
  "jsx-no-useless-fragment": "off",
  "jsx-one-expression-per-line": "off",
  "jsx-no-undef": "off",
  "jsx-curly-brace-presence": "off",
  "jsx-pascal-case": "off",
  "jsx-fragments": "off",
  "jsx-props-no-multi-spaces": "off",
  "jsx-props-no-spreading": "off",
  "jsx-sort-default-props": "off",
  "jsx-sort-props": "off",
  "jsx-space-before-closing": "off",
  "jsx-tag-spacing": "off",
  "jsx-uses-react": "off",
  "jsx-uses-vars": "off",
  "jsx-wrap-multilines": "off",
  "no-invalid-html-attribute": "off",
  "no-access-state-in-setstate": "off",
  "no-adjacent-inline-elements": "off",
  "no-array-index-key": "off",
  "no-arrow-function-lifecycle": "off",
  "no-children-prop": "off",
  "no-danger": "off",
  "no-danger-with-children": "off",
  "no-deprecated": "off",
  "no-did-mount-set-state": "off",
  "no-did-update-set-state": "off",
  "no-direct-mutation-state": "off",
  "no-find-dom-node": "off",
  "no-is-mounted": "off",
  "no-multi-comp": "off",
  "no-namespace": "off",
  "no-set-state": "off",
  "no-string-refs": "off",
  "no-redundant-should-component-update": "off",
  "no-render-return-value": "off",
  "no-this-in-sfc": "off",
  "no-typos": "off",
  "no-unescaped-entities": "off",
  "no-unknown-property": "off",
  "no-unsafe": "off",
  "no-unstable-nested-components": "off",
  "no-unused-class-component-methods": "off",
  "no-unused-prop-types": "off",
  "no-unused-state": "off",
  "no-will-update-set-state": "off",
  "prefer-es6-class": "off",
  "prefer-exact-props": "off",
  "prefer-read-only-props": "off",
  "prefer-stateless-function": "off",
  "prop-types": "off",
  "react-in-jsx-scope": "off",
  "require-default-props": "off",
  "require-optimization": "off",
  "require-render-return": "off",
  "self-closing-comp": "off",
  "sort-comp": "off",
  "sort-prop-types": "off",
  "state-in-constructor": "off",
  "static-property-placement": "off",
  "style-prop-object": "off",
  "void-dom-elements-no-children": "off",
    "rules-of-hooks": "off",
    "exhaustive-deps": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "semi": "warn",
    "arrow-body-style": [
      "warn",
      "as-needed"
    ],
    "arrow-spacing": [
      "warn",
      {
        "before": true,
        "after": true
      }
    ],
    "arrow-parens": [
      "warn",
      "always"
    ],
    "space-infix-ops": "warn",
    "space-unary-ops": [
      "warn",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "no-extra-semi": "warn",
    "no-var": "error",
    "no-extra-boolean-cast": "warn",
    "dot-notation": "warn",
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "no-floating-decimal": "warn",
    "no-multi-spaces": "warn",
    "brace-style": "warn",
    "comma-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "computed-property-spacing": [
      "warn",
      "never"
    ],
    "func-call-spacing": [
      "error",
      "never"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "key-spacing": "warn",
    "lines-between-class-members": [
      "warn",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "new-parens": "error",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 0
      }
    ],
    "no-trailing-spaces": [
      "warn",
      {
        "ignoreComments": true
      }
    ],
    "no-whitespace-before-property": "warn",
    "object-curly-newline": [
      "warn",
      {
        "consistent": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "one-var": [
      "warn",
      "never"
    ],
    "one-var-declaration-per-line": [
      "warn",
      "initializations"
    ],
    "prefer-const": "error",
    "generator-star-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "object-shorthand": "warn",
    "prefer-template": "warn",
    "rest-spread-spacing": [
      "warn",
      "never"
    ],
    "template-curly-spacing": "warn",
    "yield-star-spacing": [
      "warn",
      "after"
    ],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "if"
      }
    ],
    "padded-blocks": [
      "warn",
      "never"
    ],
    "no-delete-var": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "error",
    "no-ex-assign": "error",
    "no-func-assign": "error",
    "no-invalid-regexp": "error",
    "no-lonely-if": "warn",
    "no-new-func": "error",
    "no-octal": "error",
    "no-useless-concat": "warn",
    "no-with": "error",
    "getter-return": [
      "error",
      {
        "allowImplicit": true
      }
    ],
    "no-alert": "warn",
    "dot-location": [
      "warn",
      "property"
    ],
    "eol-last": "warn",
    "no-array-constructor": "error",
    "no-new": "error",
    "no-new-object": "error",
    "default-case": "error",
    "no-bitwise": "error",
    "radix": "error",
    "no-prototype-builtins": "error",
    "no-useless-return": "warn",
    "quote-props": [
      "warn",
      "as-needed"
    ],
    "import/first": "error",
    "import/newline-after-import": "warn",
    "import/no-absolute-path": "error",
    "import/no-amd": "error",
    "import/no-duplicates": "error",
    "import/no-named-default": "error",
    "import/no-self-import": "error",
    "import/no-useless-path-segments": "warn",
    "import/no-unused-modules": "warn",
    "jest/consistent-test-it": [
      "error",
      {
        "fn": "test"
      }
    ],
    "promise/no-promise-in-callback": "warn",
    "promise/param-names": "warn",
    "promise/no-new-statics": "error",
    "promise/valid-params": "error",
    "react/jsx-closing-bracket-location": [
      "warn",
      "tag-aligned"
    ],
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-curly-brace-presence": [
      "warn",
      {
        "props": "never",
        "children": "ignore",
        "propElementValues": "always"
      }
    ],
    "react/jsx-curly-spacing": "warn",
    "react/jsx-equals-spacing": "warn",
    "react/jsx-key": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-tag-spacing": [
      "warn",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "ignore"
      }
    ],
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "when": "multiline"
      }
    ],
    "react/no-access-state-in-setstate": "error",
    "react/no-children-prop": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-find-dom-node": "error",
    "react/no-is-mounted": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": "warn",
    "react/style-prop-object": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-boolean-value": [
      "error",
      "always"
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "sort-class-members/sort-class-members": [
      "warn",
      {
        "order": [
          "[static-properties]",
          "[static-methods]",
          "[properties]",
          "[conventional-private-properties]",
          "constructor",
          "[methods]",
          "[conventional-private-methods]"
        ],
        "accessorPairPositioning": "setThenGet"
      }
    ],
    "sonarjs/cognitive-complexity": "warn",
    "sonarjs/elseif-without-else": "error",
    "sonarjs/max-switch-cases": "error",
    "sonarjs/no-all-duplicated-branches": "error",
    "sonarjs/no-collapsible-if": "error",
    "sonarjs/no-collection-size-mischeck": "error",
    "sonarjs/no-duplicate-string": "error",
    "sonarjs/no-duplicated-branches": "error",
    "sonarjs/no-empty-collection": "error",
    "sonarjs/no-extra-arguments": "error",
    "sonarjs/no-gratuitous-expressions": "error",
    "sonarjs/no-identical-conditions": "error",
    "sonarjs/no-identical-expressions": "error",
    "sonarjs/no-identical-functions": "error",
    "sonarjs/no-ignored-return": "error",
    "sonarjs/no-inverted-boolean-check": "error",
    "sonarjs/no-nested-switch": "error",
    "sonarjs/no-nested-template-literals": "warn",
    "sonarjs/no-one-iteration-loop": "error",
    "sonarjs/no-redundant-boolean": "error",
    "sonarjs/no-redundant-jump": "error",
    "sonarjs/no-same-line-conditional": "error",
    "sonarjs/no-small-switch": "warn",
    "sonarjs/no-unused-collection": "error",
    "sonarjs/no-use-of-empty-return-value": "error",
    "sonarjs/no-useless-catch": "warn",
    "sonarjs/non-existent-operator": "error",
    "sonarjs/prefer-immediate-return": "error",
    "sonarjs/prefer-object-literal": "error",
    "sonarjs/prefer-single-boolean-return": "error",
    "sonarjs/prefer-while": "error"
  }
}