.firstSwitcher {
  position: absolute;
  top: 122px;
  left: 26px;
}

.secondSwitcher {
  position: absolute;
  top: 122px;
  left: 206px;
}

.sectionSwitcher {
  position: absolute;
  top: 182px;
  left: 116px;
}